{
	"presets": [
		"@babel/preset-env",
		"@babel/preset-react"
	],

	"plugins": [
		"@babel/plugin-transform-runtime",
		["@babel/plugin-proposal-class-properties", { "loose": true }],

		[
			"module-resolver", {
				"root": ["./app"]
			}
		],
	],

	"env": {
		"test": {
			"presets": ["@babel/preset-env", "@babel/preset-react"],
			"plugins": [
				"transform-es2015-modules-commonjs",
			]
		}
	}
}