{

	"plugins": [
		"stylelint-order",
	],

	"rules": {
		"max-empty-lines": 1,
		"order/order": ["custom-properties", "declarations", "at-rules", "rules"],

		"order/properties-order": [
			[
				"content",
				"counter-reset",
				"counter-increment",
				"appearance",
				"resize",
				"box-sizing",
				"order",
				"visibility",
				"grid-area",
				"grid-column",
				"grid-row",
				"flex-basis",
				"flex-shrink",
				"flex-grow",
				"justify-self",
				"align-self",
				"overflow",
				"position",
				"z-index",
				"left",
				"right",
				"top",
				"bottom",
				"display",
				"gap",
				"row-gap",
				"column-gap",
				"grid-template-columns",
				"grid-template-rows",
				"grid-template-areas",
				"grid-auto-flow",
				"grid-auto-columns",
				"grid-auto-rows",
				"flex-direction",
				"flex-wrap",
				"justify-items",
				"justify-content",
				"align-items",
				"align-content",
				"width",
				"min-width",
				"max-width",
				"height",
				"min-height",
				"max-height",
				"border",
				"border-width",
				"border-style",
				"border-color",
				"border-left",
				"border-right",
				"border-top",
				"border-bottom",
				"border-left-width",
				"border-left-style",
				"border-left-color",
				"border-right-width",
				"border-right-style",
				"border-right-color",
				"border-top-width",
				"border-top-style",
				"border-top-color",
				"border-bottom-width",
				"border-bottom-style",
				"border-bottom-color",
				"margin",
				"margin-left",
				"margin-right",
				"margin-top",
				"margin-bottom",
				"padding",
				"padding-left",
				"padding-right",
				"padding-top",
				"padding-bottom",
				"line-height",
				"font-size",
				"font-weight",
				"font-style",
				"font-family",
				"font-variant-numeric",
				"text-indent",
				"text-align",
				"text-transform",
				"text-decoration",
				"white-space",
				"text-overflow",
				"letter-spacing",
				"word-wrap",
				"color",
				"object-fit",
				"object-position",
				"background",
				"background-color",
				"background-clip",
				"background-image",
				"background-size",
				"background-position",
				"background-repeat",
				"background-origin",
				"fill",
				"mask",
				"mask-clip",
				"mask-image",
				"mask-size",
				"mask-position",
				"mask-repeat",
				"border-radius",
				"border-top-left-radius",
				"border-top-right-radius",
				"border-bottom-left-radius",
				"border-bottom-right-radius",
				"box-shadow",
				"clip-path",
				"filter",
				"transform-origin",
				"transform",
				"opacity",
				"transition",
				"transition-property",
				"transition-duration",
				"transition-timing-function",
				"transition-delay",
				"animation",
				"animation-name",
				"animation-duration",
				"animation-fill-mode",
				"animation-iteration-count",
				"animation-direction",
				"animation-play-state",
				"animation-timing-function",
				"cursor",
				"user-select",
				"pointer-events",
				"contain",
			],

			{"unspecified": "top"}
		],
	}
}